{% extends "../main.html" %}

{% block title %}{{ campaign.name }}{% end %}

{% block head %}
<script src="/static/js/pages/campaign/manage.js"></script>
{% end %}

{% block content %}

<div class="container">
    <div class="well">
        <h1>{{ campaign.name }}</h1>

        <div class="row">
            <div class="col-md-6"><footer>{{ campaign.description }}</footer></div>
            <div class="col-md-6"><b>Endpoint:&nbsp</b>{{ campaign.endpoint }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="/campaigns/edit/{{ campaign.uuid }}" class="btn btn-info">
                    <i class="fa fa-fw fa-edit"></i> Edit
                </a>
                <a href="/campaigns/{{ campaign.uuid }}/targets/new" class="btn btn-success">
                    <i class="fa fa-fw fa-plus"></i> Add Targets
                </a>
                <a href="/campaigns/export/{{ campaign.uuid }}" class="btn btn-primary">
                    <i class="fa fa-fw fa-share-square"></i> Export Targets
                </a>
            </div>

            {# Target list #}
            <div class="col-md-8">

            </div>
        </div>

    </div>
</div>

{% end %}