{% extends "../main.html" %}

{% block title %}{{ campaign.name }}{% end %}

{% block head %}
<script src="/static/js/pages/campaign/manage.js"></script>
{% end %}

{% block content %}

<div class="container">
    <div class="well">
        <h1>{{ campaign.name }}</h1>

        <div class="row">
            <div class="col-md-6">{{ campaign.description }}</div>
            <div class="col-md-6"><b>Endpoint:&nbsp</b>{{ campaign.endpoint }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <a href="/campaigns/edit/{{ campaign.uuid }}" class="btn btn-block btn-info">Edit</a>
            </div>
        </div>

    </div>
</div>

{% end %}